<!-- COMMON TAGS -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
<!-- Search Engine -->
<meta name="image" content="https://www.opioids.gov/assets/img/opioids-gov-fb-meta.png">
<meta name="description" content="In 2016, more Americans died due to opioid overdoses than car crashes. From cities and suburbs to rural America, opioid addiction and overdose is the crisis next door. This website illustrates both the magnitude of the opioid crisis and actions the Trump Administration is taking to address it.">
<!-- Schema.org for Google -->
<meta itemprop="name" content="Opioids.gov">
<meta itemprop="image" content="https://www.opioids.gov/assets/img/opioids-gov-fb-meta.png">
<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Opioids.gov">
<meta name="twitter:image" content="https://www.opioids.gov/assets/img/opioids-gov-fb-meta.png">
<meta name="twitter:card" content="summary_large_image">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="Opioids.gov">
<meta name="og:image" content="https://www.opioids.gov/assets/img/opioids-gov-fb-meta.png">
<meta name="og:url" content="https://www.opioids.gov">
<meta name="og:site_name" content="Opioids.gov">
<meta name="og:type" content="website">
<meta name="og:description" content="In 2016, more Americans died due to opioid overdoses than car crashes. From cities and suburbs to rural America, opioid addiction and overdose is the crisis next door. This website illustrates both the magnitude of the opioid crisis and actions the Trump Administration is taking to address it."


{% include favicon.html %}
