<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta property="og:url" content="https://www.opioids.gov" />
<meta property="og:image" content="https://federalist-proxy.app.cloud.gov/preview/gsa/opstat/sc_fb-updates/{{ site.fb-screen-shot }}" />
<meta property="og:title" content="Opioids.gov" />

<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
{% include favicon.html %}
