.site-logo img {
    height: 100px;
}

.usa-nav-primary {
    text-transform: uppercase;   
    a:hover {
    color: $color-gold;
}
}

@media screen and (min-width: 951px) {
.usa-header {
    border-bottom: 3px solid $color-gold;
}
}

.site-section-light {
    background-color: $color-gray-lightest;
}

.site-section-dark {
    background-color: $color-blue-darker;
    color: #ffffff;
}