.wow { 
    visibility: hidden; 
}

h2 {
    margin-top: 1rem;
    line-height: 1rem;
}

.usa-banner {
    height: 10px;
}

.usa-header {
    position: sticky;
    top: 0;
    background: $color-white;
}

.site-logo img {
    height: 65px;    
    @media screen and (min-width: $medium-screen) {
    height: 100px;
    }
}

.usa-nav-primary {
    text-transform: uppercase;   
    a:hover {
    color: $color-gold;
}
}

p > span {
    color: $color-red;
    } 

@media screen and (min-width: $medium-screen) {
.usa-header {
    border-bottom: 3px solid $color-gold;
}
}

.site-section-data-split {
    display:flex;
    justify-content: center;
    flex-direction: column;
    @media screen and (min-width: $medium-screen) {
        flex-direction: row;
    }
}

.site-lead {
    h2 {
    font-family: $font-sans;
    font-weight: $font-normal;
    text-transform: uppercase;
    }
    span {
        display: block;
        margin: 0 auto;
        padding: 1.5rem 1rem;
        font-weight: $font-bold;
        font-size: $title-font-size;
        background: $color-red;
        text-align: center;
        @media screen and (min-width: $medium-screen) {
            max-width: 45%;
        }
    }
    hr {
        color: $color-gold;
        width: calc(25% - 50px);
        border-bottom: 1px solid $color-gold;
    }
}

.site-caption {
    font-size: $small-font-size;
}

.site-crisis, .site-prescribing {
    .site-section-data {
        font-family: $font-serif; 
        font-weight: $font-bold;
        text-align: center;
        .site-section-data-lead-metric {
            font-size: $title-font-size;
            color: $color-red;
        }
        .site-section-data-metric {
            display: inline-block;
            margin: 0 8rem;
            font-weight: $font-bold;
            font-size: $h2-font-size;
            color: $color-red;
            .site-section-data-caption {
                font-size: $h5-font-size;
                color: $color-black;
                span {
                    color: $color-red;
                }
            }
        }
        .site-pie-chart1{
            width: 150px;
            height: 150px;
            margin: 2em auto;
            border-radius: 50%;
            background: linear-gradient(to right, $color-red 50%, $color-white 0);
            border: solid $color-black 1px;
            &:before{
                content: "";
                height: 100%;
                display: block;
                background: $color-red;
                border-radius: 0 100% 100% 0 / 50%;
                margin-left: 50%;
                transform-origin: left;
                animation: pie1 3s forwards;
            }
        }
        @keyframes pie1{
            to {
            transform: rotate(145deg); 
            }
        }
        p {
            margin-top: 3em;
            font-size: $base-font-size;
            font-weight: $font-normal;
            font-family: $font-sans;
            color: $color-red;
        }
    }
}

.site-lives {
    .site-section-data-share {
        .cls-fb, .cls-twitter {
            fill: $color-white;
        }
    }
    a {
        color: $color-white;
        &:hover {
            color: $color-blue;
        }
    }
}
.site-lives-data {
    flex-direction: column;
    text-align: center;
    margin: 0 20px;
    @media screen and (min-width: $medium-screen) {
      max-width: 30%;
    }
    svg {
        max-width: 140px;
    }
    .site-section-data-source {
        align-self: flex-end;
        color: $color-white;       
    }
}

.site-prescribing {
    @media screen and (min-width: $medium-screen) {
        .site-section-data-metric {
            max-width: 25%;
        }
    }
    .site-caption {
        margin-top: 15px;
        font-weight: $font-normal;
        color: $color-black;
    }
    svg {
        width: 100%;
    }
    path:hover, circle:hover {
        stroke: #002868 !important;
        stroke-width:2px;
        stroke-linejoin: round;
        fill: #002868 !important;
        cursor: pointer;
    }
}

.site-updated {
    a {
        text-decoration: none;
        color: $color-white;
        &:visited {
            color: $color-white;
        }
    } 
}

.site-supply {
    .site-section-data-split {
        text-align: center;
        margin: 0 auto;
        flex-direction: row;
        
    }
    .site-metric {
        max-width: 150px;
        padding: 0 30px;
    }
    svg {
        width: 60px;
    }
    h6  {
        display: inline-block;
        margin: 0 20px 0 0;
        line-height: 1;
        span {
            display: block;
            font-size: $h2-font-size;
            font-weight: $font-bold;
        }
    }
    figure {
        margin: 0 auto;
        max-width: 1100px;
        position: relative;
    }
    .graphic {
        padding-left: 30px;
    }
    .row {
        margin-bottom: 1.5em;
    }
    // @keyframes expand {
    //     from {width: 0%;}
    //     to {width: 100%;}
    // }
    // @media screen and (min-width: 768px) {
    //     @keyframes expand {
    //         from {width: 0%;}
    //         to {width: calc(100% - 75px);}
    //     }
    // }
    .chart {
        overflow: hidden;
        width: 100%;
        // animation: expand 1.5s ease forwards;
    }
    // .row + .row .chart {
    //     animation-delay: .2s;
    // }
    // .row + .row + .row .chart {
    //     animation-delay: .4s;
    // }
    .block {
        display: block;
        height: 60px;
        color: #fff;
        font-size: .75em;
        float: left;
        background-color: $color-red;
        position: relative;
        overflow: hidden;
        opacity: 1;
        // transition: opacity, .3s ease;
        cursor: pointer;
    }
    .block:nth-of-type(2),
    .legend li:nth-of-type(2):before {
        background-color: $color-blue-darkest;
    }
    .block:nth-of-type(3),
    .legend li:nth-of-type(3):before {
        background-color: $color-gold;
    }
    .block:hover {
        opacity: .65;
    }
    .value {
        display: block;
        line-height: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        @media screen and (min-width: $medium-screen) {
            visibility: hidden;
        }
    }
    .x-axis {
        text-align: center;
        padding: .5em 0 2em;
    }
    .y-axis {
        height: 20px;
        transform: translate(-32px,170px) rotate(270deg);
        position: absolute;
        left: 0;
    }
}

.site-section-data-share {
    margin-top: 5%;
    text-align: left;
    text-transform: uppercase;
    font-family: $font-sans;
    font-size: $small-font-size;
    font-weight: $font-normal;
    div {
        display: inline;
        vertical-align: top;
    }
    svg {
        height: 15px;
        width: 15px;
    }
}

.site-section-data-source {
    margin: 20px;
    font-size: $small-font-size;
    font-weight: $font-normal;
    font-family: $font-sans;
    text-align: center;
    color: $color-gray-dark;
    a {
        text-decoration: none;
    }
}

.site-pie-chart2{
    width: 150px;
    height: 150px;
    margin: 2em auto;
    border-radius: 50%;
    background: linear-gradient(to right, $color-blue-darker 50%, $color-white 0);
    border: solid $color-black 1px;
    &:before{
        content: "";
        height: 100%;
        display: block;
        background: $color-blue-darker;
        border-radius: 0 100% 100% 0 / 50%;
        margin-left: 50%;
        transform-origin: left;
        animation: pie2 3s forwards;
    }
}
@keyframes pie2{
    to {
    transform: rotate(115deg); 
    }
}
.site-pie-chart3{
    width: 150px;
    height: 150px;
    margin: 2em auto;
    border-radius: 50%;
    background: linear-gradient(to right, $color-blue-darker 50%, $color-white 0);
    border: solid $color-black 1px;
    &:before{
        content: "";
        height: 100%;
        display: block;
        background: $color-blue-darker;
        border-radius: 0 100% 100% 0 / 50%;
        margin-left: 50%;
        transform-origin: left;
        animation: pie3 3s forwards;
    }
}
@keyframes pie3{
    to {
    transform: rotate(45deg); 
    }
}
.site-right {
    float: right;
    margin-right:20%;
}
.site-left {
    float: left;
    margin-left:20%;
}
.site-section h2, h3{
    text-align: center;
}

.site-section-light {
    background-color: $color-gray-lightest;
}

.site-section-dark {
    background-color: $color-blue-darker;
    color: #ffffff;
}

.site-divider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 28px auto;
    max-width: 60%;
    width: 100%;
    &:after {
        left: 50%;
        line-height: inherit;
        position: absolute;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    h3 {
        @media screen and (min-width: $medium-screen) {
        padding: 0 10%;
        margin-top: 0;
        margin-bottom: 0;
        }
    }
    hr {
        visibility: hidden;
        @media screen and (min-width: $medium-screen) {
            visibility: visible;
            color: #748796;
            border: 0;
            border-top: 1px solid $color-gold;
            height: 6.6px;
            margin: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            width: calc(50% - 50px);
            max-width: 100px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            &:after {
                content: ' ';
                display: block;
                border-bottom: 1px solid $color-gold;
                height: 100%;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }
            &:first-child {
                &:after {
                    margin-left: 35px;
                }
            }
            &:last-child {
                &:after {
                    margin-right: 35px;
                }
            }
        }
    }
}

.site-pie2-wrapper, .site-pie3-wrapper {
    margin: 0 4rem;
    text-align: center;
    @media screen and (min-width: $medium-screen) {
        max-width: 25%;
    }
    .site-section-data-caption {
        font-size: $small-font-size;
    }
}

form label {
    visibility: hidden;
}

input[type=submit] {
    background-color: $color-gold;
}

.site-empasis {
    font-size: $h3-font-size;
    font-weight: $font-bold;
}
