[id*="tooltip-map"] {
    opacity: 0;
    transition: all 0.6s ease;
    // &:hover {
    //     opacity: 1;
    // }
}
  
#wa:hover + #tooltip-map-wa,
#ca:hover + #tooltip-map-ca,
#or:hover + #tooltip-map-or,
#id:hover + #tooltip-map-id {
    opacity: 1;
    z-index: 999;
}





 