// Typography


//Colors pulled from the White House digital brand & visual guide

$color-blue:                 #56616d;
$color-blue-darker:          #293340;
$color-blue-darkest:         #293340;

$color-aqua:                 #bae5ff;
$color-aqua-dark:            #bae5ff;
$color-aqua-darkest:         #bae5ff;
$color-aqua-light:           #bae5ff;
$color-aqua-lightest:        #bae5ff;

$color-red:                  #e20020;
$color-red-dark:             #52000f;
$color-red-darkest:          #52000f;
$color-red-light:            #ff4863;
$color-red-lightest:         #ff4863;

$color-white:                #ffffff;
$color-black:                #000000;
$color-black-light:          #212121;

$color-gray-dark:            #323a45;
$color-gray:                 #56616d;
$color-gray-medium:          #56616d;
$color-gray-light:           #ebe8ed;
$color-gray-lighter:         #ebe8ed;
$color-gray-lightest:        #ebe8ed;

$color-gray-warm-dark:       #494440;
$color-gray-warm-light:      #e4e2e0;
$color-gray-cool-light:      #dce4ef;

$color-gold:                 #c19222;
$color-gold-light:           #c19222;
$color-gold-lighter:         #c19222;
$color-gold-lightest:        #c19222;

$color-green:                #fffaf3;
$color-green-light:          #3d8769;
$color-green-lighter:        #74c646;
$color-green-lightest:       #74c646;

$color-cool-blue:            #63aeff;
$color-cool-blue-light:      #63aeff;
$color-cool-blue-lighter:    #63aeff;
$color-cool-blue-lightest:   #63aeff;
 

// Relative font and image file paths
$font-path:   '../uswds/fonts';
$image-path:  '../uswds/img';
