---
layout: default
---


<section class="usa-section site-section site-section-dark site-lead" id="home">
  <div class="usa-grid">
    <h2>Confronting the <span>opioid crisis</span> in the United States</h2>
    <hr>
    <p>Last year, more Americans died due to opioid overdoses than car crashes. From cities and suburbs to
      rural America, opioid addiction is the epidemic next door. This website illustrates both the magnitude of
      the opioid crisis and the actions the Trump Administration is taking to address it.</p>
    </div>
</section>

<section class="usa-grid usa-section site-section site-crisis">
  <span class="site-divider">
    <hr>
    <h3 id="crisis">The Crisis</h3>
    <hr>
  </span>
  <p>Drug overdose deaths are now the <span>leading cause of injury death in the United States</span> – outnumbering deaths from
    car crashes, gun-related deaths, or military fatalities throughout the Vietnam War. The Trump Administration is
    working to address both drug supply and drug demand to reduce opioid abuse, addiction, and overdose.</p>
    <div class="site-section-data">
      <div class="site-section-data-metric">
        63,600
      </div>
      <div class="site-section-data-caption">
        Drug overdose deaths in 2016
      </div>
      <div class="site-pie-chart1">42,000</div>
      <div class="site-section-data-caption">
        Opioid-related deaths
      </div>
      <div class="site-section-data-source">
          source: wh.gov
      </div>
      <p>
        Number of people above the age of 12 who misused opioids...
      </p>
      <div class="site-section-data-split">
        <div class="site-section-data-metric site-left">
          11.8 million <div class="site-section-data-caption">In the past year</div>
        </div>
        <div class="site-section-data-metric site-right">
          2.3 million <div class="site-section-data-caption">For the <span>first time</span> in the past year</div>
        </div>
      </div>
        <div class="site-section-data-source">
            source: wh.gov
        </div>
        <div class="site-section-data-share">
          Share:
        </div>
    </div>
</section>

<section class="usa-section site-section site-section-light">
  <div class="usa-grid">
    <span class="site-divider">
      <hr>
      <h3 id="prescribing">Preventing Addiction Through Safer Prescribing</h3>
      <hr>
    </span>
    <p>Over-prescribing of opioids has contributed to rising addiction rates. Working with health care providers and patients, the
    Trump Administration is working to drive down both the number and strength of opioid prescriptions.</p>
  </div>
</section>

<section class="usa-grid usa-section site-section">
    <span class="site-divider">
      <hr>
      <h3 id="supply">Stopping the Flow of Illicit Opioids</h3>
      <hr>
    </span>
  <p>Illicit drugs, including opioids, have flooded into our country through ports, shipments, and border crossings.
    The Trump Administration is undertaking an eort to increase seizures of illicit opioids.</p>
</section>

<section class="usa-section site-section site-section-dark">
  <div class="usa-grid">
    <span class="site-divider">
      <hr>
      <h3 id="lives">Saving Lives</h3>
      <hr>
    </span>
    <p>From providing overdose-reversing drugs to first responders to increasing access to drug addiction treatment, the Trump Administration is working to save the lives of those suering with addiction.</p>
  </div>
</section>

<section class="usa-grid usa-section site-section">
  <span class="site-divider">
    <hr>
    <h3 id="veterans">Veterans</h3>
    <hr>
  </span>
  <p>America’s veterans have <span>rates of opioid misuse that are higher than the civilian population</span>. Through the Department of
    Veterans Affairs, the Trump Administration is working to prevent opioid misuse and provide high-quality treatment to veterans suffering from addiction.</p>
    <div class="site-section-data-split">
      <div class="site-pie2-wrapper">
        <h4>Prevention</h4>
        <div class="site-pie-chart2">32,000</div>
        <div class="site-section-data-caption">Opioid prescriptions provided to veterans that are for an extended release (higher risk) opioid rather than immediate release (lower risk)
        </div>
      </div>
      <div class="site-pie3-wrapper">
        <h4>Treatment</h4>
        <div class="site-pie-chart3">89,000</div>
        <div class="site-section-data-caption">Veterans with a diagnosed opioid addiction that are receiving medication assisted treatment
        </div>
     </div>
  </div>
  <div class="site-section-data-source">
      source: wh.gov
  </div>
  <div class="site-section-data-share">
      Share:
    </div>
</section>

<section class="usa-section site-section site-section-dark">
  <div class="usa-grid">
    <span class="site-divider">
        <hr>
        <h3 id="updated">Stay Updated</h3>
        <hr>
      </span>
    <p></p>
  </div>
</section>