---
layout: default
---


<section class="usa-section site-section site-section-dark">
  <div class="usa-grid">
    <h2>Confronting the <span>opioid crisis</span> in the United States</h2>
    <p>Last year, more Americans died due to opioid overdoses than car crashes. From cities and suburbs to
      rural America, opioid addiction is the epidemic next door. This website illustrates both the magnitude of
      the opioid crisis and the actions the Trump Administration is taking to address it.</p>
    </div>
</section>

<section class="usa-grid usa-section site-section" id="crisis">
  <span class="site-divider">
    <hr>
    <h3>The Crisis</h3>
    <hr>
  </span>
  <p>Drug overdose deaths are now the leading cause of injury death in the United States – outnumbering deaths from
    car crashes, gun-related deaths, or military fatalities throughout the Vietnam War. The Trump Administration is
    working to address both drug supply and drug demand to reduce opioid abuse, addiction, and overdose.</p>
</section>

<section class="usa-section site-section site-section-light" id="prescribing">
  <div class="usa-grid">
    <span class="site-divider">
      <hr>
      <h3>Preventing Addiction Through Safer Prescribing</h3>
      <hr>
    </span>
    <p>Over-prescribing of opioids has contributed to rising addiction rates. Working with health care providers and patients, the
    Trump Administration is working to drive down both the number and strength of opioid prescriptions.</p>
  </div>
</section>

<section class="usa-grid usa-section site-section" id="supply">
    <span class="site-divider">
      <hr>
      <h3>Stopping the Flow of Illicit Opioids</h3>
      <hr>
    </span>
  <p>Illicit drugs, including opioids, have flooded into our country through ports, shipments, and border crossings.
    The Trump Administration is undertaking an eort to increase seizures of illicit opioids.</p>
</section>

<section class="usa-section site-section site-section-dark" id="lives">
  <div class="usa-grid">
    <span class="site-divider">
      <hr>
      <h3>Saving Lives</h3>
      <hr>
    </span>
    <p>From providing overdose-reversing drugs to first responders to increasing access to drug addiction treatment, the Trump Administration is working to save the lives of those suering with addiction.</p>
  </div>
</section>

<section class="usa-grid usa-section site-section" id="veterans">
  <span class="site-divider">
    <hr>
    <h3>Veterans</h3>
    <hr>
  </span>
  <p>America’s veterans have rates of opioid misuse that are higher than the civilian population. Through the Department of
    Veterans Affairs, the Trump Administration is working to prevent opioid misuse and provide high-quality treatment to veterans suffering from addiction.</p>
</section>

<section class="usa-section site-section site-section-dark" id="updated">
  <div class="usa-grid">
    <span class="site-divider">
        <hr>
        <h3>Stay Updated</h3>
        <hr>
      </span>
    <p></p>
  </div>
</section>